<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Jae Joo :: Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Azure Research/Skills
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="userStories.html">[1] User Stories</a>
                  <a class="dropdown-item" href="sprintPlanning.html">[1] Sprint Planning + KanBan Board</a>
                  <a class="dropdown-item" href="standUpMeeting.html">[1] Stand Up Meetings + Face to Face Meetings</a>
                  <a class="dropdown-item" href="definitionOfDone.html">[2] Definition of Done</a>
                  <a class="dropdown-item" href="clientMeeting.html">[2] Client Meetings</a>
                  <a class="dropdown-item" href="mythicalManMonth.html">[3] "Mythical Man Month" (feat. AGILE)</a>
                  <a class="dropdown-item" href="continuousDeployment.html">[3] Continuous Deployment</a>
                  <a class="dropdown-item" href="scrumMaster.html">[3] Scrum Master</a>
                  <a class="dropdown-item" href="storyPoints.html">[4] Story Points</a>
                  <a class="dropdown-item" href="velocity.html">[4] Velocity</a>
                  <a class="dropdown-item" href="sustainablePace.html">[4] Sustainable Pace</a>
                  <a class="dropdown-item" href="timeBox.html">[5] Timebox</a>
                  <a class="dropdown-item" href="pairProgramming.html">[5] Pair Programming</a>
                  <a class="dropdown-item" href="facilitator.html">[6] Facilitator</a>
                </div>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  DB2/3 Migration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="pa1.html">[1] Client Meeting + Project Management</a>
                  <a class="dropdown-item" href="pa2.html">[2] Team Communication + Working Remotely</a>
                  <a class="dropdown-item" href="pa3.html">[3] Scrum Master</a>
                  <a class="dropdown-item" href="pa4.html">[4] N/A</a>
                  <a class="dropdown-item" href="pa5.html">[5] Pair Programming</a>
                  <a class="dropdown-item" href="pa6.html">[6] Facilitator</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  System Audit
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="ta1.html">[1] Laravel Tutorial / Local Env Set Up</a>
                  <a class="dropdown-item" href="ta2.html">[2] CRUD / Controllers / Deployment</a>
                  <a class="dropdown-item" href="ta3.html">[3] Kyslik Sortable</a>
                  <a class="dropdown-item" href="ta4.html">[4] N/A </a>
                  <a class="dropdown-item" href="ta5.html">[5] Laravel-Friendships</a>
                  <a class="dropdown-item" href="ta6.html">[6] Unit Testing</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Linux Configuration (Faisal)
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="r1.html">[1] "Lets be AGILE"</a>
                  <a class="dropdown-item" href="r2.html">[2] "Social Distancing"</a>
                  <a class="dropdown-item" href="r3.html">[3] "Taking Leadership"</a>
                  <a class="dropdown-item" href="r4.html">[4] "Workload Overload"</a>
                  <a class="dropdown-item" href="r5.html">[5] "Knowledge Frontier"</a>
                  <a class="dropdown-item" href="r6.html">[6] "Testing in Progress"</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Desktop Machine Maintenance (Rob)
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="r1.html">[1] "Lets be AGILE"</a>
                  <a class="dropdown-item" href="r2.html">[2] "Social Distancing"</a>
                  <a class="dropdown-item" href="r3.html">[3] "Taking Leadership"</a>
                  <a class="dropdown-item" href="r4.html">[4] "Workload Overload"</a>
                  <a class="dropdown-item" href="r5.html">[5] "Knowledge Frontier"</a>
                  <a class="dropdown-item" href="r6.html">[6] "Testing in Progress"</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  DB2/3 User Adding (Rob)
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="r1.html">[1] "Lets be AGILE"</a>
                  <a class="dropdown-item" href="r2.html">[2] "Social Distancing"</a>
                  <a class="dropdown-item" href="r3.html">[3] "Taking Leadership"</a>
                  <a class="dropdown-item" href="r4.html">[4] "Workload Overload"</a>
                  <a class="dropdown-item" href="r5.html">[5] "Knowledge Frontier"</a>
                  <a class="dropdown-item" href="r6.html">[6] "Testing in Progress"</a>
                </div>
              </li>
        </ul>
    </div>
</nav>