<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Jae Joo :: Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Azure Research
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="IoT.html">IoT</a>
                  <a class="dropdown-item" href="IoT.html">MariaDB</a>
                  <a class="dropdown-item" href="IoT.html">SQL DB</a>
                  <a class="dropdown-item" href="IoT.html">DBaaS vs IaaS</a>
                  <a class="dropdown-item" href="IoT.html">Azure VM</a>
                  <a class="dropdown-item" href="IoT.html">Azure Vnet</a>
                  <a class="dropdown-item" href="IoT.html">Azure NIC</a>
                  <a class="dropdown-item" href="IoT.html">Azure DevTestLabs</a>
                </div>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Studio 5 Tasks
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="pa1.html">DB2/3 Migration (Krissi/Rob)</a>
                  <a class="dropdown-item" href="pa1.html">DB2/3 User Adding (Rob)</a>
                  <a class="dropdown-item" href="pa1.html">IoT Simulation (Research)</a>
                  <a class="dropdown-item" href="pa1.html">Desktop Maintenance (Rob)</a>
                  <a class="dropdown-item" href="pa1.html">Linux Configuration (Faisal)</a>
                  <a class="dropdown-item" href="pa1.html">Imaging, Cloning (Hamish)</a>
                  <a class="dropdown-item" href="pa1.html">System Audit (Rob)</a>
                  <a class="dropdown-item" href="pa1.html">Jenkins/Studio 4 (Martin/Rob)</a>
                  <a class="dropdown-item" href="pa1.html">IPV6 Certification (Faisal)</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Studio 5 Reflection
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="r1.html">Communication</a>
                  <a class="dropdown-item" href="r1.html">Documentation</a>
                  <a class="dropdown-item" href="r1.html">Time Management</a>
                  <a class="dropdown-item" href="r1.html">Research</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Studio 6 Tasks (2021)...
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="Studio6.html">"NA"</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Studio 6 Reflections (2021)...
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="Studio6.html">"NA"</a>
                </div>
              </li>
        </ul>
    </div>
</nav>